@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .swiper-prev,
  .swiper-next {
    display: none;
  }
}
