@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .swiper-prev,
  .swiper-next {
    display: none;
  }
}


